@import "./styles/references/Colors.scss";
@import "./styles/references/Defaults.scss";
@import "./styles/components/GameFrame.scss";

html
{
    background-color: $black;

    #game-frame
    {
    	background-color: $white;
    }
}
